<!-- your html code here -->
<div class="container-fluid bg-white text-dark p-5">
    <h4>
        Portfolio
    </h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar justo tellus, at rutrum nibh
        tincidunt
        sit amet. Suspendisse potenti. Etiam ultricies lectus nec sem dignissim viverra. Integer eu risus risus.
        Pellentesque eget posuere ex. Fusce semper dui ac cursus tincidunt.
    </p>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: auto;">
                <img src="https://fastly.picsum.photos/id/634/700/400.jpg?hmac=YkIwANs2uNKBB9hnfh39B6FbwXyZKSdro_YG2Hvf7aw"
                    lass="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: auto;">
                <img src="https://fastly.picsum.photos/id/634/700/400.jpg?hmac=YkIwANs2uNKBB9hnfh39B6FbwXyZKSdro_YG2Hvf7aw"
                    lass="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: auto;">
                <img src="https://fastly.picsum.photos/id/634/700/400.jpg?hmac=YkIwANs2uNKBB9hnfh39B6FbwXyZKSdro_YG2Hvf7aw"
                    lass="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>